@inject PlatF.Localization.LocService SharedLocalizer
@{
    ViewData["Title"] = "Редактирование роли";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

@model Microsoft.AspNetCore.Identity.IdentityRole

<form asp-action="EditRole" method="post">
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        @Html.EditorFor(model => model.Name)
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("Back")</a>
</form>
