################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Logic/bin/Debug/net6.0/Agro.Logic.dll
/Logic/bin/Debug/net6.0/Agro.Logic.pdb
/Logic/obj/Debug/net6.0/ref/Agro.Logic.dll
/Logic/obj/Debug/net6.0/refint/Agro.Logic.dll
/Logic/obj/Debug/net6.0/Agro.Logic.AssemblyInfo.cs
/Logic/obj/Debug/net6.0/Agro.Logic.AssemblyInfoInputs.cache
/Logic/obj/Debug/net6.0/Agro.Logic.csproj.AssemblyReference.cache
/Logic/obj/Debug/net6.0/Agro.Logic.csproj.BuildWithSkipAnalyzers
/Logic/obj/Debug/net6.0/Agro.Logic.dll
/Logic/obj/Debug/net6.0/Agro.Logic.pdb
/Logic/obj/Debug/net6.0/Agro.Logic.sourcelink.json
/WebApi/bin/Debug/net6.0/Agro.Logic.dll
/WebApi/bin/Debug/net6.0/Agro.Logic.pdb
/WebApi/bin/Debug/net6.0/WebApi.dll
/WebApi/bin/Debug/net6.0/WebApi.exe
/WebApi/bin/Debug/net6.0/WebApi.pdb
/WebApi/obj/Debug/net6.0/ref/WebApi.dll
/WebApi/obj/Debug/net6.0/refint/WebApi.dll
/WebApi/obj/Debug/net6.0/ApiEndpoints.json
/WebApi/obj/Debug/net6.0/apphost.exe
/WebApi/obj/Debug/net6.0/WebApi.AssemblyInfo.cs
/WebApi/obj/Debug/net6.0/WebApi.AssemblyInfoInputs.cache
/WebApi/obj/Debug/net6.0/WebApi.csproj.AssemblyReference.cache
/WebApi/obj/Debug/net6.0/WebApi.csproj.CoreCompileInputs.cache
/WebApi/obj/Debug/net6.0/WebApi.dll
/WebApi/obj/Debug/net6.0/WebApi.pdb
/WebApi/obj/Debug/net6.0/WebApi.sourcelink.json
/Platf.Model/obj/Debug/net6.0/Agro.Model.csproj.BuildWithSkipAnalyzers
/testapi/obj/Debug/net6.0/testapi.AssemblyInfo.cs
/testapi/obj/Debug/net6.0/testapi.AssemblyInfoInputs.cache
/Logic/bin/Debug/net6.0/Agro.Logic.dll
/Logic/bin/Debug/net6.0/Agro.Logic.pdb
/Logic/obj/Debug/net6.0/ref/Agro.Logic.dll
/Logic/obj/Debug/net6.0/refint/Agro.Logic.dll
/testapi/obj/Debug/net6.0/testapi.AssemblyInfo.cs
/testapi/obj/Debug/net6.0/testapi.AssemblyInfoInputs.cache
/WebApi/bin/Debug/net6.0/Agro.Logic.dll
/WebApi/bin/Debug/net6.0/Agro.Logic.pdb
/WebApi/bin/Debug/net6.0/WebApi.dll
/WebApi/bin/Debug/net6.0/WebApi.exe
/WebApi/bin/Debug/net6.0/WebApi.pdb
/WebApi/obj/Debug/net6.0/ref/WebApi.dll
/WebApi/obj/Debug/net6.0/refint/WebApi.dll
/.vs
/Logic/bin/Debug/net6.0/Agro.Model.dll
/Logic/bin/Debug/net6.0/Agro.Model.pdb
/Logic/obj/Agro.Logic.csproj.nuget.dgspec.json
/Logic/obj/Agro.Logic.csproj.nuget.g.props
/Logic/obj/project.assets.json
/Logic/obj/project.nuget.cache
/Platf.Model/bin/Debug/net6.0/Agro.Model.dll
/Platf.Model/bin/Debug/net6.0/Agro.Model.pdb
/testapi/obj/Debug/net6.0/ref/testapi.dll
/testapi/obj/Debug/net6.0/refint/testapi.dll
/testapi/bin/Debug/net6.0/testapi.dll
/testapi/bin/Debug/net6.0/testapi.exe
/testapi/bin/Debug/net6.0/testapi.pdb
/Platf.Model/obj/Debug/net6.0/refint/Agro.Model.dll
/Platf.Model/obj/Debug/net6.0/ref/Agro.Model.dll
/Platf.Model/obj/Debug/net6.0/Agro.Model.AssemblyInfo.cs
/Platf.Model/obj/Debug/net6.0/Agro.Model.AssemblyInfoInputs.cache
/Platf.Model/obj/Debug/net6.0/Agro.Model.csproj.CoreCompileInputs.cache
/Platf.Model/obj/Debug/net6.0/Agro.Model.dll
/Platf.Model/obj/Debug/net6.0/Agro.Model.pdb
/Platf.Model/obj/Debug/net6.0/Agro.Model.sourcelink.json
/Logic/bin/Debug/net6.0/Agro.Model.dll
/Logic/bin/Debug/net6.0/Agro.Model.pdb
/Platf.Model/bin/Debug/net6.0/Agro.Model.dll
/Platf.Model/bin/Debug/net6.0/Agro.Model.pdb
/testapi/obj/Debug/net6.0/apphost.exe
/testapi/obj/Debug/net6.0/testapi.dll
/testapi/obj/Debug/net6.0/testapi.pdb
/testapi/obj/Debug/net6.0/testapi.sourcelink.json
/WebApi/bin/Debug/net6.0/Agro.Model.dll
/WebApi/bin/Debug/net6.0/Agro.Model.pdb
/WebApi/bin/Debug/net6.0/appsettings.json
/WebApi/obj/project.assets.json
/WebApi/obj/project.nuget.cache
/WebApi/obj/WebApi.csproj.nuget.dgspec.json
/WebApi/obj/Debug/net6.0/WebApi.csproj.FileListAbsolute.txt
/testapi/obj/Debug/net6.0/testapi.csproj.Up2Date
/Logic/obj/Debug/net6.0/Agro.Logic.csproj.CoreCompileInputs.cache
/Logic/obj/Debug/net6.0/Agro.Logic.csproj.FileListAbsolute.txt
/Agro.Model/bin/Debug/net5.0/PlatF.Model.deps.json
/Agro.Model/bin/Debug/net5.0/PlatF.Model.dll
/Agro.Model/bin/Debug/net5.0/PlatF.Model.pdb
/Agro.Model/bin/Debug/net5.0/PlatF.Model.runtimeconfig.dev.json
/Agro.Model/bin/Debug/net5.0/PlatF.Model.runtimeconfig.json
/Agro.Model/bin/Debug/net6.0/Agro.Model.deps.json
/Agro.Model/bin/Debug/net6.0/Agro.Model.dll
/Agro.Model/bin/Debug/net6.0/Agro.Model.pdb
/Agro.Model/bin/Debug/net6.0/Agro.Model.runtimeconfig.json
/Agro.Model/bin/Debug/net6.0/PlatF.Model.deps.json
/Agro.Model/bin/Debug/net6.0/PlatF.Model.dll
/Agro.Model/bin/Debug/net6.0/PlatF.Model.pdb
/Agro.Model/bin/Debug/net6.0/PlatF.Model.runtimeconfig.json
*.dll
/Agro.Model/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/Agro.Model/obj/Debug/net5.0/PlatF.Model.AssemblyInfo.cs
/Agro.Model/obj/Debug/net5.0/PlatF.Model.AssemblyInfoInputs.cache
/Agro.Model/obj/Debug/net5.0/PlatF.Model.assets.cache
/Agro.Model/obj/Debug/net5.0/PlatF.Model.csproj.AssemblyReference.cache
/Agro.Model/obj/Debug/net5.0/PlatF.Model.csproj.BuildWithSkipAnalyzers
/Agro.Model/obj/Debug/net5.0/PlatF.Model.csproj.CoreCompileInputs.cache
/Agro.Model/obj/Debug/net5.0/PlatF.Model.csproj.FileListAbsolute.txt
/Agro.Model/obj/Debug/net5.0/PlatF.Model.GeneratedMSBuildEditorConfig.editorconfig
/Agro.Model/obj/Debug/net5.0/PlatF.Model.genruntimeconfig.cache
/Agro.Model/obj/Debug/net5.0/PlatF.Model.pdb
/Agro.Model/obj/Debug/net6.0/Agor.Model.GeneratedMSBuildEditorConfig.editorconfig
/Agro.Model/obj/Debug/net6.0/Agro.Model.AssemblyInfo.cs
/Agro.Model/obj/Debug/net6.0/Agro.Model.AssemblyInfoInputs.cache
/Agro.Model/obj/Debug/net6.0/Agro.Model.assets.cache
/Agro.Model/obj/Debug/net6.0/Agro.Model.csproj.AssemblyReference.cache
/Agro.Model/obj/Debug/net6.0/Agro.Model.csproj.BuildWithSkipAnalyzers
/Agro.Model/obj/Debug/net6.0/Agro.Model.csproj.CoreCompileInputs.cache
/Agro.Model/obj/Debug/net6.0/Agro.Model.csproj.FileListAbsolute.txt
/Agro.Model/obj/Debug/net6.0/Agro.Model.GeneratedMSBuildEditorConfig.editorconfig
/Agro.Model/obj/Debug/net6.0/Agro.Model.genruntimeconfig.cache
/Agro.Model/obj/Debug/net6.0/Agro.Model.pdb
/Agro.Model/obj/Debug/net6.0/Agro.Model.sourcelink.json
/Agro.Model/obj/Debug/net6.0/PlatF.Model.AssemblyInfo.cs
/Agro.Model/obj/Debug/net6.0/PlatF.Model.AssemblyInfoInputs.cache
/Agro.Model/obj/Debug/net6.0/PlatF.Model.assets.cache
/Agro.Model/obj/Debug/net6.0/PlatF.Model.csproj.AssemblyReference.cache
/Agro.Model/obj/Debug/net6.0/PlatF.Model.csproj.BuildWithSkipAnalyzers
/Agro.Model/obj/Debug/net6.0/PlatF.Model.csproj.CoreCompileInputs.cache
/Agro.Model/obj/Debug/net6.0/PlatF.Model.csproj.FileListAbsolute.txt
/Agro.Model/obj/Debug/net6.0/PlatF.Model.GeneratedMSBuildEditorConfig.editorconfig
/Agro.Model/obj/Debug/net6.0/PlatF.Model.genruntimeconfig.cache
/Agro.Model/obj/Debug/net6.0/PlatF.Model.pdb
/Agro.Model/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Agro.Model/obj/Debug/net6.0/Agor.Model.AssemblyInfo.cs
/Agro.Model/obj/Debug/net6.0/Agor.Model.AssemblyInfoInputs.cache
/Agro.Model/obj/Debug/net6.0/Agor.Model.assets.cache
/Agro.Model/obj/Debug/net6.0/Agor.Model.csproj.AssemblyReference.cache
/Agro.Model/obj/Debug/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/Agro.Model/obj/Debug/netcoreapp2.0/PlatF.Model.AssemblyInfo.cs
/Agro.Model/obj/Debug/netcoreapp2.0/PlatF.Model.AssemblyInfoInputs.cache
/Agro.Model/obj/Debug/netcoreapp2.0/PlatF.Model.assets.cache
/Agro.Model/obj/Debug/netcoreapp2.0/PlatF.Model.csproj.AssemblyReference.cache
/Agro.Model/obj/Debug/netcoreapp2.0/PlatF.Model.GeneratedMSBuildEditorConfig.editorconfig
/Agro.Model/obj/Agor.Model.csproj.nuget.dgspec.json
/Agro.Model/obj/Agor.Model.csproj.nuget.g.props
/Agro.Model/obj/Agor.Model.csproj.nuget.g.targets
/Agro.Model/obj/Agro.Model.csproj.nuget.dgspec.json
/Agro.Model/obj/Agro.Model.csproj.nuget.g.props
/Agro.Model/obj/Agro.Model.csproj.nuget.g.targets
/Agro.Model/obj/PlatF.Model.csproj.EntityFrameworkCore.targets
/Agro.Model/obj/PlatF.Model.csproj.nuget.dgspec.json
/Agro.Model/obj/PlatF.Model.csproj.nuget.g.props
/Agro.Model/obj/PlatF.Model.csproj.nuget.g.targets
/Agro.Model/obj/project.assets.json
/Agro.Model/obj/project.nuget.cache
