################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Logic/bin/Debug/net6.0/Agro.Logic.dll
/Logic/bin/Debug/net6.0/Agro.Logic.pdb
/Logic/obj/Debug/net6.0/ref/Agro.Logic.dll
/Logic/obj/Debug/net6.0/refint/Agro.Logic.dll
/Logic/obj/Debug/net6.0/Agro.Logic.AssemblyInfo.cs
/Logic/obj/Debug/net6.0/Agro.Logic.AssemblyInfoInputs.cache
/Logic/obj/Debug/net6.0/Agro.Logic.csproj.AssemblyReference.cache
/Logic/obj/Debug/net6.0/Agro.Logic.csproj.BuildWithSkipAnalyzers
/Logic/obj/Debug/net6.0/Agro.Logic.dll
/Logic/obj/Debug/net6.0/Agro.Logic.pdb
/Logic/obj/Debug/net6.0/Agro.Logic.sourcelink.json
/WebApi/bin/Debug/net6.0/Agro.Logic.dll
/WebApi/bin/Debug/net6.0/Agro.Logic.pdb
/WebApi/bin/Debug/net6.0/WebApi.dll
/WebApi/bin/Debug/net6.0/WebApi.exe
/WebApi/bin/Debug/net6.0/WebApi.pdb
/WebApi/obj/Debug/net6.0/ref/WebApi.dll
/WebApi/obj/Debug/net6.0/refint/WebApi.dll
/WebApi/obj/Debug/net6.0/ApiEndpoints.json
/WebApi/obj/Debug/net6.0/apphost.exe
/WebApi/obj/Debug/net6.0/WebApi.AssemblyInfo.cs
/WebApi/obj/Debug/net6.0/WebApi.AssemblyInfoInputs.cache
/WebApi/obj/Debug/net6.0/WebApi.csproj.AssemblyReference.cache
/WebApi/obj/Debug/net6.0/WebApi.csproj.CoreCompileInputs.cache
/WebApi/obj/Debug/net6.0/WebApi.dll
/WebApi/obj/Debug/net6.0/WebApi.pdb
/WebApi/obj/Debug/net6.0/WebApi.sourcelink.json
/Platf.Model/obj/Debug/net6.0/Agro.Model.csproj.BuildWithSkipAnalyzers
/testapi/obj/Debug/net6.0/testapi.AssemblyInfo.cs
/testapi/obj/Debug/net6.0/testapi.AssemblyInfoInputs.cache
/Logic/bin/Debug/net6.0/Agro.Logic.dll
/Logic/bin/Debug/net6.0/Agro.Logic.pdb
/Logic/obj/Debug/net6.0/ref/Agro.Logic.dll
/Logic/obj/Debug/net6.0/refint/Agro.Logic.dll
/testapi/obj/Debug/net6.0/testapi.AssemblyInfo.cs
/testapi/obj/Debug/net6.0/testapi.AssemblyInfoInputs.cache
/WebApi/bin/Debug/net6.0/Agro.Logic.dll
/WebApi/bin/Debug/net6.0/Agro.Logic.pdb
/WebApi/bin/Debug/net6.0/WebApi.dll
/WebApi/bin/Debug/net6.0/WebApi.exe
/WebApi/bin/Debug/net6.0/WebApi.pdb
/WebApi/obj/Debug/net6.0/ref/WebApi.dll
/WebApi/obj/Debug/net6.0/refint/WebApi.dll
/.vs
/Logic/bin/Debug/net6.0/Agro.Model.dll
/Logic/bin/Debug/net6.0/Agro.Model.pdb
/Logic/obj/Agro.Logic.csproj.nuget.dgspec.json
/Logic/obj/Agro.Logic.csproj.nuget.g.props
/Logic/obj/project.assets.json
/Logic/obj/project.nuget.cache
/Platf.Model/bin/Debug/net6.0/Agro.Model.dll
/Platf.Model/bin/Debug/net6.0/Agro.Model.pdb
/testapi/obj/Debug/net6.0/ref/testapi.dll
/testapi/obj/Debug/net6.0/refint/testapi.dll
/testapi/bin/Debug/net6.0/testapi.dll
/testapi/bin/Debug/net6.0/testapi.exe
/testapi/bin/Debug/net6.0/testapi.pdb
/Platf.Model/obj/Debug/net6.0/refint/Agro.Model.dll
/Platf.Model/obj/Debug/net6.0/ref/Agro.Model.dll
/Platf.Model/obj/Debug/net6.0/Agro.Model.AssemblyInfo.cs
/Platf.Model/obj/Debug/net6.0/Agro.Model.AssemblyInfoInputs.cache
/Platf.Model/obj/Debug/net6.0/Agro.Model.csproj.CoreCompileInputs.cache
/Platf.Model/obj/Debug/net6.0/Agro.Model.dll
/Platf.Model/obj/Debug/net6.0/Agro.Model.pdb
/Platf.Model/obj/Debug/net6.0/Agro.Model.sourcelink.json
/Logic/bin/Debug/net6.0/Agro.Model.dll
/Logic/bin/Debug/net6.0/Agro.Model.pdb
/Platf.Model/bin/Debug/net6.0/Agro.Model.dll
/Platf.Model/bin/Debug/net6.0/Agro.Model.pdb
/testapi/obj/Debug/net6.0/apphost.exe
/testapi/obj/Debug/net6.0/testapi.dll
/testapi/obj/Debug/net6.0/testapi.pdb
/testapi/obj/Debug/net6.0/testapi.sourcelink.json
/WebApi/bin/Debug/net6.0/Agro.Model.dll
/WebApi/bin/Debug/net6.0/Agro.Model.pdb
/WebApi/bin/Debug/net6.0/appsettings.json
/WebApi/obj/project.assets.json
/WebApi/obj/project.nuget.cache
/WebApi/obj/WebApi.csproj.nuget.dgspec.json
/WebApi/obj/Debug/net6.0/WebApi.csproj.FileListAbsolute.txt
/testapi/obj/Debug/net6.0/testapi.csproj.Up2Date
/Logic/obj/Debug/net6.0/Agro.Logic.csproj.CoreCompileInputs.cache
/Logic/obj/Debug/net6.0/Agro.Logic.csproj.FileListAbsolute.txt
/Agro.Model/bin/Debug/net5.0/PlatF.Model.deps.json
/Agro.Model/bin/Debug/net5.0/PlatF.Model.dll
/Agro.Model/bin/Debug/net5.0/PlatF.Model.pdb
/Agro.Model/bin/Debug/net5.0/PlatF.Model.runtimeconfig.dev.json
/Agro.Model/bin/Debug/net5.0/PlatF.Model.runtimeconfig.json
/Agro.Model/bin/Debug/net6.0/Agro.Model.deps.json
/Agro.Model/bin/Debug/net6.0/Agro.Model.dll
/Agro.Model/bin/Debug/net6.0/Agro.Model.pdb
/Agro.Model/bin/Debug/net6.0/Agro.Model.runtimeconfig.json
/Agro.Model/bin/Debug/net6.0/PlatF.Model.deps.json
/Agro.Model/bin/Debug/net6.0/PlatF.Model.dll
/Agro.Model/bin/Debug/net6.0/PlatF.Model.pdb
/Agro.Model/bin/Debug/net6.0/PlatF.Model.runtimeconfig.json
*.dll
/Agro.Model/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/Agro.Model/obj/Debug/net5.0/PlatF.Model.AssemblyInfo.cs
/Agro.Model/obj/Debug/net5.0/PlatF.Model.AssemblyInfoInputs.cache
/Agro.Model/obj/Debug/net5.0/PlatF.Model.assets.cache
/Agro.Model/obj/Debug/net5.0/PlatF.Model.csproj.AssemblyReference.cache
/Agro.Model/obj/Debug/net5.0/PlatF.Model.csproj.BuildWithSkipAnalyzers
/Agro.Model/obj/Debug/net5.0/PlatF.Model.csproj.CoreCompileInputs.cache
/Agro.Model/obj/Debug/net5.0/PlatF.Model.csproj.FileListAbsolute.txt
/Agro.Model/obj/Debug/net5.0/PlatF.Model.GeneratedMSBuildEditorConfig.editorconfig
/Agro.Model/obj/Debug/net5.0/PlatF.Model.genruntimeconfig.cache
/Agro.Model/obj/Debug/net5.0/PlatF.Model.pdb
/Agro.Model/obj/Debug/net6.0/Agor.Model.GeneratedMSBuildEditorConfig.editorconfig
/Agro.Model/obj/Debug/net6.0/Agro.Model.AssemblyInfo.cs
/Agro.Model/obj/Debug/net6.0/Agro.Model.AssemblyInfoInputs.cache
/Agro.Model/obj/Debug/net6.0/Agro.Model.assets.cache
/Agro.Model/obj/Debug/net6.0/Agro.Model.csproj.AssemblyReference.cache
/Agro.Model/obj/Debug/net6.0/Agro.Model.csproj.BuildWithSkipAnalyzers
/Agro.Model/obj/Debug/net6.0/Agro.Model.csproj.CoreCompileInputs.cache
/Agro.Model/obj/Debug/net6.0/Agro.Model.csproj.FileListAbsolute.txt
/Agro.Model/obj/Debug/net6.0/Agro.Model.GeneratedMSBuildEditorConfig.editorconfig
/Agro.Model/obj/Debug/net6.0/Agro.Model.genruntimeconfig.cache
/Agro.Model/obj/Debug/net6.0/Agro.Model.pdb
/Agro.Model/obj/Debug/net6.0/Agro.Model.sourcelink.json
/Agro.Model/obj/Debug/net6.0/PlatF.Model.AssemblyInfo.cs
/Agro.Model/obj/Debug/net6.0/PlatF.Model.AssemblyInfoInputs.cache
/Agro.Model/obj/Debug/net6.0/PlatF.Model.assets.cache
/Agro.Model/obj/Debug/net6.0/PlatF.Model.csproj.AssemblyReference.cache
/Agro.Model/obj/Debug/net6.0/PlatF.Model.csproj.BuildWithSkipAnalyzers
/Agro.Model/obj/Debug/net6.0/PlatF.Model.csproj.CoreCompileInputs.cache
/Agro.Model/obj/Debug/net6.0/PlatF.Model.csproj.FileListAbsolute.txt
/Agro.Model/obj/Debug/net6.0/PlatF.Model.GeneratedMSBuildEditorConfig.editorconfig
/Agro.Model/obj/Debug/net6.0/PlatF.Model.genruntimeconfig.cache
/Agro.Model/obj/Debug/net6.0/PlatF.Model.pdb
/Agro.Model/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Agro.Model/obj/Debug/net6.0/Agor.Model.AssemblyInfo.cs
/Agro.Model/obj/Debug/net6.0/Agor.Model.AssemblyInfoInputs.cache
/Agro.Model/obj/Debug/net6.0/Agor.Model.assets.cache
/Agro.Model/obj/Debug/net6.0/Agor.Model.csproj.AssemblyReference.cache
/Agro.Model/obj/Debug/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/Agro.Model/obj/Debug/netcoreapp2.0/PlatF.Model.AssemblyInfo.cs
/Agro.Model/obj/Debug/netcoreapp2.0/PlatF.Model.AssemblyInfoInputs.cache
/Agro.Model/obj/Debug/netcoreapp2.0/PlatF.Model.assets.cache
/Agro.Model/obj/Debug/netcoreapp2.0/PlatF.Model.csproj.AssemblyReference.cache
/Agro.Model/obj/Debug/netcoreapp2.0/PlatF.Model.GeneratedMSBuildEditorConfig.editorconfig
/Agro.Model/obj/Agor.Model.csproj.nuget.dgspec.json
/Agro.Model/obj/Agor.Model.csproj.nuget.g.props
/Agro.Model/obj/Agor.Model.csproj.nuget.g.targets
/Agro.Model/obj/Agro.Model.csproj.nuget.dgspec.json
/Agro.Model/obj/Agro.Model.csproj.nuget.g.props
/Agro.Model/obj/Agro.Model.csproj.nuget.g.targets
/Agro.Model/obj/PlatF.Model.csproj.EntityFrameworkCore.targets
/Agro.Model/obj/PlatF.Model.csproj.nuget.dgspec.json
/Agro.Model/obj/PlatF.Model.csproj.nuget.g.props
/Agro.Model/obj/PlatF.Model.csproj.nuget.g.targets
/Agro.Model/obj/project.assets.json
/Agro.Model/obj/project.nuget.cache
/.config/dotnet-tools.json
/Agro.Model/bin/Release/net6.0/Agro.Model.deps.json
/Agro.Model/bin/Release/net6.0/Agro.Model.pdb
/Agro.Model/bin/Release/net6.0/Agro.Model.runtimeconfig.json
/Agro.Model/obj/Release/net6.0
/Logic/bin/Release/net6.0
/Logic/obj/Release/net6.0
*.pdb
/PlatF/bin/Debug/net6.0/Agro.Logic.pdb
/PlatF/bin/Debug/net6.0/refs/System.Runtime.Numerics.dll
/PlatF/bin/Debug/net6.0/refs/System.Security.AccessControl.dll
/PlatF/bin/Debug/net6.0/refs/System.Security.Claims.dll
/PlatF/bin/Debug/net6.0/appsettings.json
/PlatF/bin/Debug/net6.0/PlatF.deps.json
/PlatF/bin/Debug/net6.0/PlatF.exe
/PlatF/bin/Debug/net6.0/PlatF.staticwebassets.runtime.json
/PlatF/bin/Release/net6.0/publish/runtimes/alpine-x64/native/libe_sqlite3.so
/PlatF/bin/Release/net6.0/publish/runtimes/linux-arm/native/libe_sqlite3.so
*.so
*.dylib
*.exe
/PlatF/bin/Release/net6.0/publish/wwwroot/css/site.css
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/css/site.css
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/js/site.js
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-grid.css
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-grid.css.map
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-grid.min.css
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-grid.rtl.css
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-grid.rtl.css.map
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css.map
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-reboot.css
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-reboot.css.map
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-reboot.min.css
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css.map
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css.map
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-utilities.css
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-utilities.css.map
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-utilities.min.css
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-utilities.min.css.map
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css.map
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css.map
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap.css
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap.css.map
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap.min.css
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap.min.css.map
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap.rtl.css
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap.rtl.css.map
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap.rtl.min.css
/PlatF/bin/Release/net6.0/publish/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap.rtl.min.css.map
/testapi/obj/Release/net6.0/project.razor.vs.bin
/testapi/obj/Release/net6.0/testapi.AssemblyInfo.cs
/testapi/obj/Release/net6.0/testapi.AssemblyInfoInputs.cache
/testapi/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/testapi/obj/Release/net6.0/testapi.assets.cache
/testapi/obj/Release/net6.0/testapi.csproj.AssemblyReference.cache
/testapi/obj/Release/net6.0/testapi.GeneratedMSBuildEditorConfig.editorconfig
/testapi/obj/Release/net6.0/testapi.GlobalUsings.g.cs
/WebApi/bin/Release/net6.0/publish/agro.zip
/WebApi/bin/Release/net6.0/publish/appsettings.Development.json
/WebApi/bin/Release/net6.0/publish/appsettings.json
/WebApi/bin/Release/net6.0/publish/appsettingsOriginal.json
/WebApi/bin/Release/net6.0/publish/web.config
/WebApi/bin/Release/net6.0/publish/WebApi.deps.json
/WebApi/bin/Release/net6.0/publish/WebApi.runtimeconfig.json
/WebApi/bin/Release/net6.0/appsettings.Development.json
/WebApi/bin/Release/net6.0/appsettings.json
/WebApi/bin/Release/net6.0/WebApi.deps.json
/WebApi/bin/Release/net6.0/WebApi.runtimeconfig.json
/WebApi/obj/Debug/net6.0/project.razor.vs.bin
/WebApi/obj/Release/net6.0/PubTmp/Out/appsettings.Development.json
/WebApi/obj/Release/net6.0/PubTmp/Out/appsettings.json
/WebApi/obj/Release/net6.0/PubTmp/Out/web.config
/WebApi/obj/Release/net6.0/PubTmp/Out/WebApi.deps.json
/WebApi/obj/Release/net6.0/PubTmp/Out/WebApi.runtimeconfig.json
/WebApi/obj/Release/net6.0/staticwebassets/msbuild.build.WebApi.props
/WebApi/obj/Release/net6.0/staticwebassets/msbuild.buildMultiTargeting.WebApi.props
/WebApi/obj/Release/net6.0/staticwebassets/msbuild.buildTransitive.WebApi.props
/WebApi/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/WebApi/obj/Release/net6.0/project.razor.vs.bin
/WebApi/obj/Release/net6.0/PublishOutputs.0ea6b19200.txt
/WebApi/obj/Release/net6.0/staticwebassets.build.json
/WebApi/obj/Release/net6.0/staticwebassets.publish.json
/WebApi/obj/Release/net6.0/WebApi.AssemblyInfo.cs
/WebApi/obj/Release/net6.0/WebApi.AssemblyInfoInputs.cache
/WebApi/obj/Release/net6.0/WebApi.assets.cache
/WebApi/obj/Release/net6.0/WebApi.csproj.AssemblyReference.cache
/WebApi/obj/Release/net6.0/WebApi.csproj.CoreCompileInputs.cache
/WebApi/obj/Release/net6.0/WebApi.csproj.FileListAbsolute.txt
/WebApi/obj/Release/net6.0/WebApi.csproj.Up2Date
/WebApi/obj/Release/net6.0/WebApi.deps.json
/WebApi/obj/Release/net6.0/WebApi.GeneratedMSBuildEditorConfig.editorconfig
/WebApi/obj/Release/net6.0/WebApi.genpublishdeps.cache
/WebApi/obj/Release/net6.0/WebApi.genruntimeconfig.cache
/WebApi/obj/Release/net6.0/WebApi.GlobalUsings.g.cs
/WebApi/obj/Release/net6.0/WebApi.MvcApplicationPartsAssemblyInfo.cache
/WebApi/obj/Release/net6.0/WebApi.MvcApplicationPartsAssemblyInfo.cs
/WebApi/obj/Release/net6.0/WebApi.sourcelink.json
/WebApi/Properties/PublishProfiles/FolderProfile.pubxml
/WebApi/Properties/PublishProfiles/FolderProfile.pubxml.user
/WebApi/Properties/PublishProfiles/FTPProfile.pubxml
/WebApi/Properties/PublishProfiles/FTPProfile.pubxml.user
/BlazorUI/bin/Debug/net8.0
/BlazorUI/obj
/PlatF/obj/Debug/net6.0/ref/PlatF.dll
/PlatF/obj/Debug/net6.0/refint/PlatF.dll
/PlatF/obj/Debug/net6.0/ApiEndpoints.json
/PlatF/obj/Debug/net6.0/PlatF.AssemblyInfo.cs
/PlatF/obj/Debug/net6.0/PlatF.AssemblyInfoInputs.cache
/PlatF/obj/Debug/net6.0/PlatF.assets.cache
/PlatF/obj/Debug/net6.0/PlatF.csproj.AssemblyReference.cache
/PlatF/obj/Debug/net6.0/PlatF.csproj.CoreCompileInputs.cache
/PlatF/obj/Debug/net6.0/PlatF.csproj.FileListAbsolute.txt
/PlatF/obj/Debug/net6.0/PlatF.csproj.GenerateResource.cache
/PlatF/obj/Debug/net6.0/PlatF.GeneratedMSBuildEditorConfig.editorconfig
/PlatF/obj/Debug/net6.0/PlatF.genruntimeconfig.cache
/PlatF/obj/Debug/net6.0/PlatF.MvcApplicationPartsAssemblyInfo.cs
/PlatF/obj/Debug/net6.0/PlatF.sourcelink.json
/PlatF/obj/Debug/net6.0/project.razor.vs.bin
/PlatF/obj/Debug/net6.0/staticwebassets.build.json
/PlatF/obj/Debug/net6.0/staticwebassets.development.json
/PlatF/obj/Release/net6.0/PlatF.AssemblyInfo.cs
/PlatF/obj/Release/net6.0/PlatF.AssemblyInfoInputs.cache
/PlatF/obj/Release/net6.0/PlatF.csproj.AssemblyReference.cache
/PlatF/obj/Release/net6.0/PlatF.GeneratedMSBuildEditorConfig.editorconfig
/PlatF/obj/PlatF.csproj.nuget.dgspec.json
/PlatF/obj/PlatF.csproj.nuget.g.props
/PlatF/obj/project.assets.json
/PlatF/obj/project.nuget.cache
/testapi/obj/Debug/net6.0/project.razor.vs.bin
/testapi/obj/Debug/net6.0/testapi.csproj.AssemblyReference.cache
/testapi/obj/Debug/net6.0/testapi.csproj.CoreCompileInputs.cache
/testapi/obj/project.assets.json
/testapi/obj/project.nuget.cache
/testapi/obj/testapi.csproj.nuget.dgspec.json
/WebApi/obj/Debug/net6.0/PublishOutputs.0ea6b19200.txt
/WebApi/obj/Debug/net6.0/staticwebassets.publish.json
/WebApi/obj/Debug/net6.0/WebApi.deps.json
/WebApi/obj/Debug/net6.0/WebApi.genpublishdeps.cache
/WebApi/obj/Debug/net6.0/WebApi.MvcApplicationPartsAssemblyInfo.cs
