@using Agro.Model.Dto.MeatType
@model MeatTypeDto

@{
  ViewData["Title"] = "Edit";
}

<div class="col-md-4">
  <form asp-action="Delete">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
      <label asp-for="Name" class="control-label">Вид мяса</label> - 
      @Html.ValueFor(model => model.Name)
    </div>
    <div class="form-group">
      <input type="hidden" asp-for="Id" class="form-control" />
    </div>
    <br />
    <div class="form-group">
      <input type="submit" value="Удалить вид мяса" class="btn btn-primary" />
      <a asp-action="Index">Назад</a>
    </div>
  </form>
</div>