@model string
@{
    ViewData["Title"] = "Сброс пароля";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Сброс пароля</h1>
<div asp-validation-summary="All" class="text-danger"></div>



<div class="col-md-4">
    <form method="post">
        <div class="row form-group">
            <input type="hidden" name="userId" value="@Model" />
            <label class="control-label">Введите пароль</label>
            <input class="form-control" type="text" name="password" />
            <input type="submit" value="Сохранить" class="btn btn-success" />
        </div>

    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}