@page "/cities/delete/{cityId:int}"
@using Agro.Model.Dto.City
@using BlazorUI.HttpRequest
@using BlazorUI.Token
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject HttpRequestMessageFactory HttpRequestMessageFactory

<h3>Delete</h3>
CityId parameter is @cityId!
<EditForm Model="@City">
    <div>
        <p>
            Код:<br />
            <InputText class="form-control" @bind-Value="City.Code" disabled="disabled" />
            <div>@City.Code</div>
        </p>
        <p>
            Наименование:<br />
            <input  @bind-value="City.Name" />
            <div>@City.Name</div>
        </p>
        <p>
            <button @onclick="Submit">Удалить</button>
        </p>

    </div>
</EditForm>


@code {
    [Parameter]
    public int cityId { get; set; }
    private CityDto City = new();
    string rootUrl = "http://localhost:7272/api/Cities/";

    protected override async Task OnParametersSetAsync()
    {
        City = new CityDto();

        if (cityId != 0)
        {
            var result = await Http.GetAsync(rootUrl + cityId);

            if (result.StatusCode == System.Net.HttpStatusCode.OK)
            {
                City = (await result.Content.ReadFromJsonAsync<CityDto>())!;
            }
        }
    }

    protected async Task Submit()
    {
        if (City.Id!= 0)
        {
            var request = await HttpRequestMessageFactory.CreateAsync(HttpMethod.Delete, true, rootUrl+City.Id);

            var result = await Http.SendAsync(request);

            if (result.StatusCode == System.Net.HttpStatusCode.OK)
            {
                NavigationManager.NavigateTo("/Cities");
            }
        }
        NavigationManager.NavigateTo("/Cities");
    }
}
