@page "/cities/edit/{cityId:int}"

@page "/cities/add"

@using Agro.Model.Dto.City
@using Agro.Model.WebApi.Models
@using BlazorUI.HttpRequest
@using BlazorUI.Token
@using System.Net.Http.Headers

@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject HttpRequestMessageFactory HttpRequestMessageFactory



<h3>EditCity</h3>
CityId parameter is @cityId!
<EditForm Model="@City">
    <div>
        <p>
            Код:<br />
            <InputText class="form-control" @bind-Value="City.Code" />
        </p>
        <p>
            Наименование:<br />
            <input  @bind-value="City.Name" />
        </p>
        <p>
            <button @onclick="Submit">Сохранить</button>
        </p>
        код @statusCode
        content @content

    </div>
</EditForm>


@code {
    [Parameter]
    public int cityId { get; set; }
    private CityDto City = new();
    string statusCode = "";
    string content = "";
    string rootUrl = "http://localhost:7272/api/Cities/";
    protected override async Task OnParametersSetAsync()
    {
        City = new CityDto();

        if (cityId != 0)
        {
            var t = await Http.GetAsync(rootUrl + cityId);

            if (t.StatusCode == System.Net.HttpStatusCode.OK)
            {
                City = (await t.Content.ReadFromJsonAsync<CityDto>())!;
            }
            else
            {
                City.Code = t.StatusCode.ToString();
            }
        }
    }

    protected async Task Submit()
    {
        var method = (City.Id != 0) ? HttpMethod.Put : HttpMethod.Post;
        try
        {
            var tokenInfo = await localStorage.GetItemAsync<AuthenticatedResponse>("authToken");
            var request = await HttpRequestMessageFactory.CreateAsync(method, true, rootUrl, City);
            var t = await Http.SendAsync(request);
            NavigationManager.NavigateTo("http://localhost:5233/cities");
        }
        catch
        {
            NavigationManager.NavigateTo("http://localhost:5233/login");
        }
    }
}
