@using Agro.Model.Dto.City
<PageTitle>Города</PageTitle>
@page "/cities"
@inject HttpClient Http

<h1>Города</h1>


@if (cities == null)
{
    <p><em>Загрузка</em></p>
}
else
{
    <a href='/cities/add' class="btn btn-outline-dark" role="button">
        Добавить
    </a>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Code(C)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var city in cities)
            {
                <tr>
                    <td>@city.Name</td>
                    <td>@city.Code</td>
                    <td>
                        <a href='/cities/edit/@city.Id' class="btn btn-outline-dark" role="button">
                            Edit
                        </a>
                    </td>
                    <td>
                        <a href='/cities/delete/@city.Id' class="btn btn-outline-dark" role="button">
                            Delete
                        </a>
                    </td>

                </tr>                
            }
        </tbody>
    </table>
}

@code {
    private CityDto[]? cities;
    
    protected override async Task OnInitializedAsync()
    {
        cities = await Http.GetFromJsonAsync<CityDto[]>("http://localhost:7272/api/Cities");
    }
}
